html, body{
  height: 100%;
}

.navbar-brand img{
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.c-bg-transparent-black{
  background: rgba(0, 0, 0, 0.30);
  transition: background 0.5s;
}

.c-bg-dark{
  background-color: #101010!important;
}

.c-btn-gray{
  background: rgba(0, 0, 0, 0.40);
}